body {
  font-family: 'Arial', sans-serif;
  background-color: #2c2c2c; /* Темний фон */
  color: #f4f4f4; /* Світлий текст */
  margin: 20px;
}

h1 {
  color: #53afcc; /* Світло-блакитний заголовок */
}

#current-time {
  font-size: 18px;
  margin-bottom: 20px;
  color: #53afcc; /* Блакитний для часу */
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th, .schedule-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #444; /* Темніші межі */
}

.schedule-table th {
  background-color: #333; /* Темний фон заголовків */
  color: #fff; /* Білий текст */
}

.schedule-table td {
  background-color: #3a3a3a; /* Темно-сірий фон для комірок */
  color: #e0e0e0; /* Світло-сірий текст */
}

.schedule-table td:empty {
  background-color: #444; /* Темніший фон для порожніх комірок */
}

.schedule-table td:hover {
  background-color: #505050; /* Світліший фон при наведенні */
}

.highlight {
  background-color: #53afcc; /* Виділення поточного дня */
  color: white;
  font-weight: bold;
}

.schedule-table td br {
  display: block;
}
