/* Очищення відступів та маргінів для html та body */
html, body {
  font-family: Arial, sans-serif;  
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Загальні стилі для контейнера */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 100vh;
  background-color: #2D2D3E;
  box-sizing: border-box;
}

/* Лівий контейнер для заголовка, селектора та кнопок */
.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Окремий контейнер для заголовка і вибору раси */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* Заголовок */
h1 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* Стилі для селектора раси */
.race-selector {
  background-color: #2D2D3E;
  padding: 10px;
}

.race-selector label {
  color: #FFFFFF;
}

.race-selector select {
  padding: 6px;
  font-size: 16px;
  background-color: #3E3E5E;
  color: #f0f0f0;
  border-radius: 8px;
  border: none;
  width: 200px;
}

/* Контейнер для кнопок з прокруткою */
.buttons-container {
  flex: 2;
  overflow-y: auto;
  max-height: 70vh;
}

/* Стилі для кнопок */
button {
  background-color: #4E4E6B;
  color: #FFFFFF;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3px;
}

button:hover {
  background-color: #FFDF70;
  color: #000000;
}

/* Правий контейнер для textarea */
.right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрування по горизонталі */
  justify-content: center;
}

/* Текстове поле */
textarea {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #2E2E3E;
  color: #f0f0f0;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  resize: none;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Стилі для кнопки копіювання */
#copyButton {
  display: block;
  margin: 10px auto; /* Центрування кнопки */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFDF70;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#copyButton:hover {
  background-color: #F4A261;
}

/* Повідомлення про копіювання (зліва внизу) */
#copyMessage {
  position: fixed;
  bottom: 20px;
  right: 20px; /* Закріплюємо справа */
  background-color: #4CAF50;
  font-size: 0.9rem;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  max-width: 300px; /* Обмеження ширини, щоб не виходило за межі */
  word-wrap: break-word; /* Перенос слів, якщо текст довгий */
}


/* Клас для показу повідомлення */
#copyMessage.show {
  visibility: visible;
  opacity: 1;
}
