html, body {
  font-family: Arial, sans-serif;  
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 100vh;
  background-color: #1A1A2E;
  box-sizing: border-box;
}

.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.race-selector {
  background-color: #1A1A2E;
  padding: 10px;
}

.race-selector label {
  color: #FFFFFF;
}

.race-selector select {
  padding: 6px;
  font-size: 16px;
  background-color: #3E3E5E;
  color: #f0f0f0;
  border-radius: 8px;
  border: none;
  width: 200px;
}

.buttons-container {
  flex: 2;
  overflow-y: auto;
  max-height: 70vh;
}

button {
  background-color: #4E4E6B;
  color: #FFFFFF;
  padding: 4px 4px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3px;
}

button:hover {
  background-color: #FFDF70;
  color: #000000;
}

.right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #3E3E5E;
  color: #f0f0f0;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  resize: none;
  box-sizing: border-box;
  overflow-y: auto;
}

#copyButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFDF70;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#copyButton:hover {
  background-color: #F4A261;
}

#copyMessage {
  position: fixed;
  bottom: 20px;
  right: 20px; 
  background-color: #4CAF50;
  font-size: 0.9rem;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  max-width: 300px; 
  word-wrap: break-word; 
}

#copyMessage.show {
  visibility: visible;
  opacity: 1;
}
